@import '../fonts/fonts.css';

:root {
    --kr: 'Koulen-Regular';
    --wt: 'WaterBrush-Regular'
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--k-r);
}

h1, h2, h3, h4, h5, h6, ul, li, a, p { 
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    background: #222222;
}

/* ************************************************************************************* */
/* bootstrap fix start */

.header__nav-button {
    color: #ffffff;
    font-size: 35px;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

button:focus:not(:focus-visible){
    outline: none;
}

.btn-check:focus + .btn, .btn:focus {
    outline: none;
    box-shadow: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    z-index: 4;
}

.dropdown-menu{
    background: #222220;
    border-radius: 5px;
    padding: 9px;
}

.dropdown-item{
    color: #ffffff;
    transition: 0.5s;
}

.dropdown-item:hover{
    color: #CB3B48;
}

.dropdown-first-item{
    border-bottom: 1px solid #2F2F2F;
}


/* bootstrap fix-end */
/* ********************************************************************* */
/* header start */

.header {
    width: 100%;
    padding-bottom: 74px;
}


.header__nav {
    background: #222220;
    box-shadow: 0px 30px 50px 35px #222222;
}


.header__nav-link {
    font-size: 18px;
    margin-left: 25px;
    color: #ffffff !important;
    font-family: Suisse Intl;
}

.header__nav-btn {
    padding: 12px;
    background: #CB3B48;
    border-radius: 5px;
    color: #ffffff !important;
    transition: .7s;
    margin-left: 30px;
    display: block;
}

.header__nav-drop{
    padding: 0;
    outline: none;
}

.header__nav-btn:hover {
    color: #ffffff;
    background: #1B1B1B;
    box-shadow: 0 0 5px 5px rgba(189, 45, 67, 0.199);
}

.header__title {
    color: #BD2D43;
    padding-top: 134px;
    font-size: 200px;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--kr);
    z-index: -1;
}


.header__img {
    position: absolute;
    top: 25%;
    left: 35%;
    z-index: 1;
    width: 35%;
}

.header__text {
    font-family: var(--wt);
    font-size: 80px;
    color: #ffffff;
    transform: rotate(350deg);
    position: absolute;
    top: 37%;
    left: 60%;
    z-index: 1;
}


.header__first-logo {
    left: 68%;
    position: absolute;
    z-index: 3;
}

.header__two-logo {
    margin-left: 110px;
}


.header__block-call{
    border-radius: 10px;
    background: url(../img/Cloy\ 4\ 1.png)no-repeat center center/cover;
    background-color: #222222;
    position: fixed;
    top: 22%;
    left: 32%;
    padding: 25px 143px 52px 70px;
    transform: translateX(-500%);
    transition: 1s;
    z-index: 10;
}

.header__block-call-title{
    color: #ffffff;
    font-size: 40px;
}

.header__block-call-text{
    color: #ffffff;
    margin-top: 25px;
    font-size: 18px;
}

.header__block-call-tel{
    color: #ffffff;
    font-size: 18px;
    margin-top: 25px;
}

.header__block-call-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 35%;
}

.header__block-call-ul-li{
    color: #ffffff;
    font-size: 32px;
    transition: 0.5s;
}

.header__block-call-ul-li:hover{
    color: #ff0000;
    transform: scale(1.2);
}

.btn-icon-none{
    font-size: 40px;
    color: #ffffff;
    border: none;
    background: transparent;
    position: absolute;
    top: 21px;
    right: 33px;
}


.header__block-table{
    width: 35%;
    height: 75%;;
    left: 30%;
    display: flex;
    position: fixed;
    top: -500%;
    background: #222220;
    z-index: 20;
    transition: 0.5s;
    border-radius: 5px;
}

.block_table-active{
    top: 15% !important;
}

.second-floor{
    background: #161614;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 13%;
}

.first-floor{
    width: 80%;
    background: #222222;
    padding: 25px;
    position: relative;
}

.second-floor-title{
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}

.block-table{
    border-radius: 50%;
    color: #161614;
    font-weight: 700;
    font-size: 16px;
    padding: 3px 0;
    background: #C83A48;
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.block-table::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #ffffff;
    position: absolute;
    top: -46%;
    border-radius: 50%;
}

.block-table::before{
    content: '';
    width: 10px;
    height: 10px;
    background: #ffffff;
    position: absolute;
    left: -46%;
    border-radius: 50%;
}

.block-text::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #ffffff;
    position: absolute;
    right: -46%;
    top: 35%;
    border-radius: 50%;
}

.block-floor{
    border-radius: 20%;
    color: #161614;
    font-weight: 700;
    font-size: 20PX;
    background: #C83A48;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
}

.block-floor::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #ffffff;
    position: absolute;
    top: -30%;
    border-radius: 50%;
    left: 40%;
}

.block-floor::before{
    content: '';
    width: 10px;
    height: 10px;
    background: #ffffff;
    position: absolute;
    left: -30%;
    border-radius: 50%;
}

.text-floor::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #ffffff;
    position: absolute;
    right: -30%;
    top: 35%;
    border-radius: 50%;
}

.text-floor::before{
    content: '';
    width: 10px;
    height: 10px;
    background: #ffffff;
    position: absolute;
    left: 40%;
    bottom: -35%;
    border-radius: 50%;
}

.block__exit{
    position: absolute;
    top: 0;
    left: 0;
}

.box-exit{
    background: transparent;
    border: 3px solid #161614;
    width: 20px;
    height: 45px;
}

.floor-section{
    display: flex;
    position: relative;
}

.block-horisontal{
    position: absolute;
    width: 150px;
    height: 19px;
    background: transparent;
    border: 3px solid #161614;
    top: 81%;
}

.first-floor-first-box{
    margin-top: 65px;
}

.mega-block-exit-text{
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 170px;
}

.box-vip{
    background: #C83A48;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 51px;
    color: #161614;
    font-weight: 700;
    width: 200px;
    height: 90px;
}

.vip-block-text{
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.block-vip{
    position: absolute;
    top: 14%;
    right: 10%;
}

.mini-box{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    top: 16%;
    left: -10%;
}

.mini-box:nth-child(1){
    top: 18%;
    left: -10%;
}
.mini-box:nth-child(2){
    top: 40%;
    left: -10%;
}
.mini-box:nth-child(3){
    top: -20%;
    left: 6%;
}
.mini-box:nth-child(4){
    top: -21%;
    left: 17%;
}
.mini-box:nth-child(5){
    top: -21%;
    left: 28%;
}
.mini-box:nth-child(6){
    top: -21%;
    left: 39%;
}
.mini-box:nth-child(7){
    top: -21%;
    left: 50%;
}
.mini-box:nth-child(8){
    top: -21%;
    left: 61%;
}
.mini-box:nth-child(9){
    top: -21%;
    left: 72%;
}
.mini-box:nth-child(10){
    top: -21%;
    left: 84%;
}
.mini-box:nth-child(11){
    top: 16%;
    left: 103%;
}
.mini-box:nth-child(12){
    top: 40%;
    left: 103%;
}

.one{
    position: absolute;
    top: 25%;
    left: 40%;
}

.block-drink{
    position: absolute;
    width: 250px;
    height: 250px;
    background: #161614;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    top: 38%;
    left: 55%;
}

.main-icon{
    font-size: 100px;
}

.title-drink{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 30px;
}

.chill-title{
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    width: 63%;
    margin-left: auto;
    margin-bottom: 25px;
}

.block-chill{
    background: #C83A48;
    width: 70px;
    height: 100px;
    border-radius: 10px;
    color: #161614;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 75px;
}

.box-chill{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    top: 16%;
    left: -22%;
}

.box-chill:nth-child(1){
    top: 67%;
}
.box-chill:nth-child(2){
    top: 40%;
}
.box-chill:nth-child(3){
    top: 60%;
}

.box-chill:nth-child(4){
    left: 105%;
}
.box-chill:nth-child(5){
    left: 105%;
    top: 38%;
}
.box-chill:nth-child(6){
    top: 60%;
    left: 105%;
}

.chill-zone-two{
    display: flex;
}

.chill-zone{
    position: absolute;
    bottom: 19px;
    right: 2%;
}

.btn-table{
    position: absolute;
    top: 12px;
    right: 30px;
    font-size: 20px;
    padding: 5px;
    background: transparent;
    border: none;
    color: #ffffff;
    transition: 0.5s;
}

.btn-table:hover{
    transform: scale(1.2) rotate(90deg);
}

.table_active{
    background: green;
}

.active-table{
    top: 15% !important;
}

.possive-table{
    top: -500% !important;
}

main img{
    width: 100%;
}

/* header end */
/* ********************************************************************** */
/* main start */

.first-section__box-line{
    background: #CB3B48;
    width: 73px;
    height: 5px;
    box-shadow: 0px 0px 20px 2px #cb3b48;
    margin-bottom: 15px;
}

.first-section__box-title{
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 0px 0px 20px #ffffff;
    margin-bottom: 44px;
}

.first-section__box-text{
    color: #727272;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

/* ------------------------------------------------------------------------- */

.main-foto-block__block-tab-active{
    display: block !important;
}

.main-foto-block__block-tab{
    display: none;
}

.main-foto-block__block-tab-box-tab{
    margin-top: 50px;
}

.main-foto-block__tab-menu-ul{
    display: flex;
    justify-content: center;
    margin-top: 52px;
    width: 100%;
}

.main-foto-block__tab-menu-ul-link-active{
    background: #161615;
    border-radius: 5px;
    border: 2px solid #CB3B48;
    padding: 4px 10px;
    color: #CB3B48 !important;
}

.main-foto-block__tab-menu-ul-link{
   color: #ffffff;
   font-size: 18px;
   margin-right: 19px; 
   transition: 0.3s;
}

.main-foto-block__tab-menu-ul-link:hover{
    color: #CB3B48;
}

.main-foto-block__tab-menu-ul-link-active:hover{
    color: #CB3B48;
}


/* main end */
/* *********************************************************************** */
/* footer start */


.footer{
    padding-top: 40px;
    padding-bottom: 25px;
    background: url(../img/Слой\ 4\ 2.png)no-repeat center center/cover;
    background-color: #040403;
    margin-top: 40px;
}

.footer__fisrt-block{
    display: flex;
    justify-content: space-between;
}

.footer__block-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__block-ul-ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.footer__ul-link{
    color: #DCDCDC;
    font-size: 16px;
    font-weight: 400;
    transition: 0.4s;
}

.footer__ul-link:hover{
    color: #CB3B48;
}

.footer__last-block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fooetr__title{
    color: #BD2D43;
    font-size: 24px;
    font-weight: 700;
    transition: 0.4s;
}

.fooetr__title:hover{
    color: #ffffff;
}

.fooetr__text{
    color: #8F8F8F;
    font-size: 12px;
    font-weight: 400;
}

.footer__ul-icon{
    display: flex;
}

.footer__ul-icon-link{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    transition: 0.4s;
}

.footer__ul-icon-link:hover{
    background: #ffffff;
}

.footer__ul-icon-link-icon{
    color: #BD2D43;
    font-size: 19px;
}

.footer__box-text{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.fooeter__last-text{
    color: #9C9C9C;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #9C9C9C;
    cursor: pointer;
    transition: 0.4s;
}

.fooeter__last-text:hover{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.fooeter__last-text-last{
    border: none;
    cursor: text;
    transition: 0.4s;
}

.fooeter__last-text-last:hover{
    color: #ffffff;
    border: none;
}

/* footer end */
/* ************************************************************************* */
/* media start */


@media (max-width: 991px){
    
    
    .header__ul {
        display: flex;
        flex-direction: row;
    }

    .header__main-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ms-auto {
        margin: 0 !important;
    }

    .header {
        padding-bottom: 100px;
    }


    .header__nav-btn {
        font-size: 20px;
        box-shadow: 1px 1px 11px 6px #bd2d43;
        background: #1B1B1B;
    }

    .header__nav-btn:hover {
        background: #ffffff;
        color: #1B1B1B !important; 
    }

    .header__nav-btn:hover .header__nav-icon {
        color: #1B1B1B;
    }

    .header__first-logo {
        margin-left: auto;
    }

    .header__nav-button {
        margin-left: 15px;
    }

    .bg-fone {
        background: url(../img/Слой\ 4\ 1.png)no-repeat center center/cover;
    }
    
    
    .header__first-logo {
        position: inherit;
    }
    
    .header__two-logo {
        margin-left: 30px;
    }
    
    
    .header__block-call {
        left: 13%;
    }
    
    
    
    
    .footer__ul-icon {
        display: flex;
        margin-top: 17px;
    }
    
    .footer__block-ul {
        margin-top: 20px;
    }
    
    .fooeter__last-text {
        margin-right: 17px;
    }
    
    .footer__box-text {
        margin-top: 20px;
        display: block;
        justify-content: flex-start;
        align-items: center;
    }
    
    .fooeter__last-text-last {
        margin-top: 7px;
    }
    
}

@media (max-width: 767px){
    
    .main-foto-block__block-tab .row img {
        width: 100%;
    }  
    
    .footer__fisrt-block {
        display: block;
       flex-direction: column;
    }
    
    .first-section__box-title {
        font-size: 30px;
        margin-bottom: 25px;
    }
    
    .first-section__box-text {
        font-size: 15px;
    }
    
    
}

@media (max-width: 600px){
    
    .header__main-menu {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .header__ul {
        padding-bottom: 10px;
        padding-top: 15px;
    }
    
    
    .header__block-call {
        left: 9%;
        padding: 15px 110px 28px 29px;
    }
    
    .header__block-call-title {
        font-size: 30px;
    }
    
    .header__block-call-text {
        font-size: 14px;
    }
    
    .header__block-call-tel {
        font-size: 14px;
    }
    
    .header__block-call-ul {
        width: 60%;
    }
    
    .btn-icon-none {
        font-size: 30px;
        top: 11px;
        right: 22px;
    }
    
    
    
    
    
    
    .footer__fisrst-block-img{
        width: 90%;
    }
    
    .fooetr__title {
        font-size: 20px;
    }
    
    .fooetr__text {
        font-size: 9px;
    }
    
    .footer__ul-icon-link-icon {
        font-size: 17px;
    }

    .footer__ul-icon-link {
        width: 27px;
        height: 27px;
    }
    
    .footer__ul-link {
        font-size: 13px;
    }
    
}

@media (max-width: 400px){
    
    .header__logo {
        width: 50%;
    }

    .header__main-menu {
        top: 118%;
        left: 18%;
    }
    
    
    .header__block-call-title {
        font-size: 19px;
    }    
    
    .header__block-call-text {
        font-size: 11px;
    }
    
    .header__block-call-tel {
        color: #ffffff;
        font-size: 12px;
    }
    
    .header__block-call-ul {
        margin-top: 16px;
        width: 73%;
    }
    
    .header__block-call {
        padding: 15px 40px 28px 29px;
    }
    
    
    
    
    
        
    .fooeter__last-text {
        font-size: 10px;
    }
    
    .fooetr__title {
        font-size: 16px;
    }
    
    .footer__ul-icon-link {
        width: 25px;
        height: 25px;
    }
    

    .footer__ul-icon-link-icon {
        font-size: 15px;
    }
    
    .footer__fisrst-block-img {
        width: 100%;
    }
    
    .footer__ul-link {
        font-size: 12px;
    }
    
    .footer__block-ul-ul {
        margin-left: 10px;
    }
    
}